@import url(https://fonts.googleapis.com/css?family=Milonga);
/*TOP*/
#content {
	width:100%;
	position:relative;
	font-family: 'Milonga', sanserif;
}
#banner {
	position: fixed;
	width: 100%;
	height: 115px;
	background-color:white;
}
#tools {
	position:relative;
	top: 115px;
	width: 100%;
	z-index:1;
}
/*BANNER*/
#bannerheader {
	width: 200px;
	float:left;
	z-index:99;
	padding-left:30px;
	padding-top: 30px;
	background-image:url(images/celticvines-small.png);
	background-repeat:no-repeat;
}
#googleadbanner {
	border: 2px solid pink;
	width : 728px;
	height : 90px;
	background-color: pink;
	float:left;
}
#branding {
	float:left;
}
#bannerbuttons {
	float:left;
	z-index:99;
	
}
/*MAIN CONTENT*/
#googleimagesearch {
	width: 35%;
	float:left;
	background-color:white;
}
#gallerylistwrap {
margin-left: 35%;	
background-color:white;
	width:62%;
	border: 1px solid black;
	border-radius:6px;
}
img.exportbutton {height: 40px; padding-left: 1em;};
#gallerylist .addbutton {
	clear: both;
	display: block;
}
#gallerylist .formwrapper,#gallerylist .editablerecords,#shareoptions  {
	width: 100%;
	padding: 1em;
}

#imagecollectoritem {
	width: 100px;
	float:left;
}
#shareoptions {
	width: 50%;
}
/*VOICE SEARCH*/
.microphone img ,img.microphone  {
height:25px;
}
.microphone-pause {background-color:orange;border: 1px solid pink;}
.microphone-on {background-color:green; border: 1px solid blue;}
.microphone-off {background-color:red;border: 1px solid orange;}
.voice-help {
	font-size:x-small;
	background-color:yellow;
	border: 1px solid orange;
	border-radius:6px;
	padding: 0.7em;
}
.speechify-selected {
	border: 3px solid blue;
}
#speechify-status img,#sharebutton img{
	height: 20px;
}
#speechify-status .microphone,#sharebutton {
	border:1px solid black;
	border-radius: 15px;
height: 30px;
width: 30px;
padding: 6px;
position:fixed;
top:40px;
right: 10px;
font-size:x-small;
z-index:199;
}
#sharebutton {
right: 80px;
top:30px;
}
/* FROM HERE */
#googleimagesearch #imagelist > div {
	float: left;
	width: 100px;
}
.resetsearchbutton img {
float: left;
padding-right: 0.5em;
}
.editablerecords .addbutton {padding-right: 1em;}
.editablerecords .images img {
	width: 70px;
}
.formwrapper .images img,.formwrapper .filelist .file a.dataurl img  {
	max-width: 70px;
}
.searchers .searcher {float:left;}
.collatedlist h3 {margin: 0px;}
#imagelist img {
width: 80px;
}
#imagelist > div {display: inline: width:80px;}

.editablerecords > table tr:nth-child(1) th:nth-child(n+2) {
	display: none;
}

/*quickdb*/
.join-editbutton, .join-deletebutton, .join-addbutton img {
	height: 2em;	
}
.form-buttons {
 float:right;
}
.filelist .removefilebutton img { height: 2em; }
.filelist .file {margin-left: 1em;}

.searchers { margin-top: 0; padding-top: 0.2em;}
.searchers form { padding:0; margin: 0;}
.searcher {display:block;}
.search-date span,.search-date input {font-size: small;}

